{% extends "base.html" %}
{% block content %}
    <h1>Upload a file:</h1>
    <form action="/upload", method="POST" enctype="multipart/form-data">  
        <input type="file" id="fileUpload" name="file">
        <input type="submit">
    </form>
    {% if files|length %}
        <h2>All files that have been uploaded:</h2>
    {% else %}
        <h2>Oh, how sad, nobody has uploaded anything :(</h2>
    {% endif %}
    <div>
        {% for file in files %}
        <p><a href="/uploads/{{file}}">{{file}}</p>
        {% endfor %}
    </div>
    <h3><a href="/">Return to homepage</a></h3>
{% endblock %}
